/SistemaOperacional/nbproject/private/
/SistemaOperacional/build/
/TamahoTela/nbproject/private/
/TamahoTela/build/
/OlaMundoSwing/nbproject/private/
/OlaMundoSwingg/nbproject/private/
/PrimeiroSwing/PrimeiroSwing/nbproject/private/
/PrimeiroSwing/PrimeiroSwing/build/
/PrimeiroSwing/Aula1Faculdade/nbproject/private/
/PrimeiroSwing/Aula1Faculdade/build/